<h1 *ngIf="isAddMode">Crear Usuario</h1>
<h1 *ngIf="!isAddMode">Editar Usuario</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-row">

        <div class="form-group col-5">
            <label>Nombres</label>
            <input type="text" formControlName="Nombres" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Nombres.errors }"  />
            <div *ngIf="submitted && f.Nombres.errors" >
                <div *ngIf="f.Nombres.errors.required">Nombre requerido</div>
            </div>
        </div>
        <div class="form-group col-5">
            <label>Apellidos</label>
            <input type="text" formControlName="Apellidos" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Apellidos.errors }" />
            <div *ngIf="submitted && f.Apellidos.errors">
                <div *ngIf="f.Apellidos.errors.required">Apellido requerido</div>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-5">
            <label>Cedula</label>
            <input type="text" formControlName="Cedula" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Cedula.errors }" />
            <div *ngIf="submitted && f.Cedula.errors" >
                <div *ngIf="f.Cedula.errors.required">Cedula requerida</div>
            </div>
        </div>
        <div class="form-group col-5">
            <label>Telefono</label>
            <input type="text" formControlName="Telefono" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Telefono.errors }" />
            <div *ngIf="submitted && f.Telefono.errors">
                <div *ngIf="f.Telefono.errors.required">Telefono requerido</div>
            </div>
        </div>
       
    </div>
 
    <div class="form-row">
        <div class="form-group col-5">
            <label>Correo</label>
            <input type="text" formControlName="Correo" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Correo.errors }" />
            <div *ngIf="submitted && f.Correo.errors" >
                <div *ngIf="f.Correo.errors.required">Correo requerido</div>
                <div *ngIf="f.Correo.errors.Correo">Direccion de correo invalida</div>
            </div>
        </div>
    
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
           <div *ngIf="!isAddMode"> Actualizar</div>
           <div *ngIf="isAddMode"> Registrar</div>
        </button>
        <a routerLink="/users" class="btn btn-link">Cancelar</a>
    </div>
</form>
