
<a routerLink="add" class="btn btn-sm btn-success mb-2">Crear Usuario</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 15%">Nombres</th>
            <th style="width: 15%">Apelidos</th>
            <th style="width: 15%">Cedula</th>
            <th style="width: 15%">Correo</th>
            <th style="width: 15%">Telefono</th>
            <th style="width: 10%"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td> {{user.Nombres}}</td>
            <td> {{user.Apellidos}}</td>
            <td> {{user.Cedula}} </td>
            <td> {{user.Correo}} </td>
            <td>{{user.Telefono}}</td>
          
            <td style="white-space: nowrap">
                <a routerLink="edit/{{user.id}}" class="btn btn-sm btn-primary mr-1">Edit</a>
                <button (click)="deleteUser(user.id)" class="btn btn-sm btn-danger btn-delete-user" [disabled]="user.isDeleting">
                    <span *ngIf="user.isDeleting" class="spinner-border spinner-border-sm"></span>
                    <span *ngIf="!user.isDeleting">Delete</span>
                </button>
            </td>
        </tr>
        <tr *ngIf="!users">
            <td colspan="4" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr>
    </tbody>
</table>